@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

$pink : #FB2E86;
$red: #FB2448;
$blue: #2F1AC4;
$navy: #151875;
$violet :#7E33E0;
$navyLight: #3F509E;
$backgroundLight: linear-gradient(121.53deg, #F3F9FF 0%, #F1F0FF 100%);
$backgroundPurple: #E0D3F5;


$font-1: 'Josefin Sans', sans-serif;
$font-2: 'Lato', sans-serif;
